<template>
  <v-container >
    <v-row justify="center">
      <v-col>
        <search />
      </v-col> 
    </v-row>
  </v-container>  
</template>

<script>
  import Search from '../components/Search'

  export default {
    name: 'Home',
    data: () => ({
    }),

    components: {
      Search
    },
  }
</script>
