<template>
    <v-card>
        <template v-if="loading">
            <v-card
                dark
                loading
            >
                <v-card-title primary-title>
                    Looking for better jobs...
                </v-card-title>

                <v-card-text>
                    <div class="d-flex flex-column justify-space-between align-center">
                    <v-progress-circular
                        :size="50"
                        color="primary"
                        indeterminate
                    ></v-progress-circular>
                    </div>
                </v-card-text>
            
            </v-card>
        </template>
        <template v-else>
        
            <v-card
            
            > 
                 <h2 class="text-center"> Top 3 Opportunities</h2>
           
               
                <v-row align="center">
                    
                    <v-col 
                        class="mx-auto"
                        v-for="(obj) in object"
                        :key="obj.id"
                        
                        sm="8"
                        xs="8"
                        md="8"
                        lg="8"
                    >

                        <v-card
                            outlined
                            dense
                            class="mx-auto"
                            height="100%"
                            :color="get_color()"
                        >
                            <v-list-item three-line>
                            <v-list-item-content>
                                <div class="text-overline mb-4">
                                {{obj.organizations[0].name}} 
                                </div>
                                <v-list-item-title class="text-h5 mb-1">
                            {{obj.objective}}
                                </v-list-item-title>
                                <v-list-item-subtitle> {{obj.slug}}</v-list-item-subtitle>
                            </v-list-item-content>

                            <v-list-item-avatar
                                tile
                                size="80"
                                color="grey"
                            > <avatar 
                                :image="obj.organizations[0].picture"
                                fullname="My Sticker" size="240">
                                </avatar>
                            </v-list-item-avatar>
                            </v-list-item>

                            <v-card-actions>
                            <v-btn
                                outlined
                                rounded
                                text
                                @click="abrir(obj.id)"
                            >
                                DETAIL
                            </v-btn>
                            </v-card-actions>
                        </v-card>

                        <v-dialog
                            v-model="dialog"
                            width="auto"
                        >
                        <template v-if="loading2">
                            <v-card
                                dark
                                >
                                <v-card-text>
                                    <div class="d-flex flex-column justify-space-between align-center">
                                        <v-progress-circular
                                            :size="50"
                                            color="primary"
                                            indeterminate
                                        ></v-progress-circular>
                                    </div>
                                </v-card-text>
                                </v-card>
                        
                            </template>
                            <template v-else>
                                <v-card dark>
                                    <v-card-title >
                                    JOB DETAILS
                                    </v-card-title>

                                    <v-divider></v-divider>

                                    <v-card-text>
                                        <v-row>
                                            <v-col 
                                                v-for="job in job_object"
                                                :key="job"

                                                cols="12"
                                                sm="12"
                                                xs="12"
                                                md="12"
                                            >
                                                <v-card
                                                    light
                                                    dense
                                                    elevation="20"

                                                    color="grey darken-1"
                                                >
                                                    <v-subheader class="text-capitalize font-weight-black">{{job.code}}</v-subheader>
                                                    
                                                    <v-card-text>
                                                        {{job.content}}
                                                    </v-card-text>
                                
                                                </v-card>

                                            
                                            
                                            </v-col>
                                        </v-row>
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-btn
                                            color="primary"
                                            text
                                            @click="dialog = false"
                                        >
                                            Exit
                                        </v-btn>
                                    </v-card-actions>   
                                        
                                </v-card>
                            </template>
                        </v-dialog> 

                    </v-col>
                </v-row>
            </v-card>
        </template>
    </v-card>
</template>
<script>
import apiaxios from 'axios'
import Avatar from 'vue-avatar-component'
export default {
    name: 'Jobs',
    props: ['info'],

        components: { Avatar},
    data: () => ({

        object: null,
        loading: true,
        loading2: false,
        opportunity: null,
        dialog: false,
        job_object: null,
        color: ["blue lighten-3","light-blue lighten-2","cyan lighten-2"]
    }
    ),
    methods:{
       
        async abrir(n){
            this.dialog=true
            this.loading2 = true
            let t = this
            let aa = 'https://back-torre.herokuapp.com/opportunities/'+n
           
            await apiaxios
            .get(aa)
            .then(function(response) {

                console.log(response.data);

                if(response.data.details) {
                    t.job_object = response.data.details
                
                
                
                }
                t.loading2 = false
            })

            
          
        },

        get_color(){
            let number = Math.floor(Math.random() * 3)
            console.log(this.color[number]);
            return this.color[number]
        }
    },
    async created(){

        let t = this
        let aa = '/users/'+t.$store.state.user+'/opportunities'
        await apiaxios
        .get(aa)
        .then(function(response) {

            if(response.data.results) {
              t.object = response.data.results
            }
            t.loading = false
          })

    },
}
</script>
