<template>
 <div>
  

    <template v-if="this.loading">
      <v-card
              dark
              loading
          >
              <v-card-title primary-title>
                  Wait a few moments...
              </v-card-title>

              <v-card-text>
                  <div class="d-flex flex-column justify-space-between align-center">
                  <v-progress-circular
                      :size="50"
                      color="primary"
                      indeterminate
                  ></v-progress-circular>
                  </div>
              </v-card-text>
          
          </v-card>
    </template>

    <template v-else>

      <template v-if="this.data_perfil">
        <v-container fluid>
          <Perfil :info='data_perfil' ></Perfil>
          <Skills :info='data_skill' ></Skills>
         </v-container>
      </template>
      <template v-else>
        <NotFind :info='username' />
      </template>
      
    </template>
  </div>
</template>

<script>
// import axios from "axios";
import Perfil from "@/components/Perfil"
import Skills from "@/components/Skills"
import NotFind from "@/components/NotFind"


import apiaxios from 'axios'

  export default {
    components: { Perfil, Skills , NotFind},
    name: 'Profile',
    props: ['username'],
    data: () => ({

        loader: null,
        loading: true,
        dataa: null,
        data_perfil: false,
        data_skill:null,
        nombre: null,
    }),

    created () {
      
        let t = this
        let aa = '/users/'+t.username;
        apiaxios
        .get(aa)
        .then(function(response) {

            if(response.data.person) {
              t.data_perfil = response.data.person,
              t.nombre = response.data.person.name,    
              t.data_skill = response.data.strengths,
              t.$store.dispatch("getUser",t.nombre )
            }
            t.loading = false
          })
    },

    watch: {
      loader () {
        const l = this.loader
        this[l] = !this[l]
        setTimeout(() => (this[l] = false), 3000)
        this.loader = null
      },
    },
  }
</script>
