<template>
  <v-container>
    <v-row class="text-center">
      <v-col>
        <v-card dark>
          <v-card-title primary-title>
            <v-icon>mdi-account-off-outline</v-icon>
            Usuario no encontrado
          </v-card-title>
          <v-card-text>
            El usuario {{info}} no ha sido encontrado en la base de datos.
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'NotFind',
    props: ['info'],
    data: () => ({
      msj: 'No se encuentra informacion del usuario'
    }),
  }
</script>
