<template>
<div>
    <v-card dark >
      <v-row  dense justify-content="center">
          <v-col
              cols="12"
              sm="12"
              md="12"
              lg="5"
          >
            <div class="d-flex flex-column justify-space-between align-center">
              <avatar 
                :image="info.picture"
                size=180>
              </avatar>
            </div>
         
          </v-col>

          <v-col
              cols="12"
              sm="12"
              md="12"
              lg="7"
              
          >

              <v-card-title primary-title>
                  {{info.name}}
                  <v-spacer></v-spacer>
                  
                  
              </v-card-title>
              <v-card-text>
                  <v-text-field
                      dense
                      filled
                      :value="info.professionalHeadline"
                      label="Professional Headline"
                      readonly
                  ></v-text-field>

                  <v-text-field
                      dense
                      filled
                      readonly
                      label="Location"
                      prepend-inner-icon="mdi-map-marker"
                      :value="info.location.name"
                  ></v-text-field>
                
                <v-row justify-content="center"><v-col>
                <v-tooltip
                    
                    right
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                          elevation="13"
                          large
                          v-bind="attrs"
                          v-on="on"
                          @click="abrir_op()"
                        > Find Jobs 
                        <v-icon color="green">
                            mdi-clipboard-text-search-outline
                        </v-icon>
                      </v-btn>

                      
                    </template>
                    <span>Find Best Jobs for</span>
                  </v-tooltip>

                </v-col></v-row>
              </v-card-text>  
      
          </v-col>
      </v-row>

    </v-card>
</div>
</template>

<script>
 import Avatar from 'vue-avatar-component'
  export default {
    name: 'Perfil',
    props: ['info'],
     components: { Avatar },
    data: () => ({
        username: null,
        loader: null,
        loading: false,
        picture: '',
        nombre: '',
        titulo: '',
        pais: ''


    }),

    methods:{
      get_profile: function (id) {
        this.$router.push({ name: 'Profile', params: {username: id }})
      },
      abrir_op() {
        this.$router.push({ name: 'Jobs'})
      },
    },

    watch: {
      loader () {
        const l = this.loader
        this[l] = !this[l]

        setTimeout(() => (this[l] = false), 3000)

        this.loader = null

        this.get_profile(this.username)
      },
    },
  }
</script>
