<template>


      <v-card  elevation="24"
          dark 

          shaped
          centered dense
          >
            <v-card-title primary-title >
              <v-icon
                large
                left
              >
                mdi-account
              </v-icon>
              Find User
            </v-card-title>

            <v-card-subtitle>Let's see your profile skills at Torre.co  </v-card-subtitle>

            
          <v-card-actions  class="justify-center">
            <v-tooltip bottom :disabled="!tooltip_msg">
                <template v-slot:activator="{ on, attrs }">
                  <span
                    v-bind="attrs"
                    v-on="on"
                  > 
                    <v-row dense >
                      <v-col  >
                        <v-text-field label="Username" v-model="username"/>
                      </v-col>
                    </v-row>
                  </span>
                </template>
                <span>
                  - Log into your torre profile <br>
                  - Get your ID in the url, like this: <br>
                  https://torre.co/en/jhonjaner11 <br>
                  Example: username = jhonjaner11 
                  
                </span>
              </v-tooltip>
            <v-btn
              class="ma-2"
              :loading="loading"
              :disabled="loading"
              color="primary"
              @click="loader = 'loading'"
            >
              Search
            </v-btn>
          </v-card-actions>
            
          
      </v-card>

</template>

<script>

  export default {
    name: 'Search',

    data: () => ({
      username: null,
      loader: null,
      loading: false,
      tooltip_msg: true,
    }),

    methods:{
      get_profile: function (id) {
        this.$router.push({ name: 'Profile', params: {username: id }})
      },
    },

    watch: {
      loader () {
        const l = this.loader
        this[l] = !this[l]

        setTimeout(() => (this[l] = false), 3000)
        this.loader = null
        this.get_profile(this.username)
      },
    },
  }
</script>
