<template>
 <div>


        <v-card
            tile
        >
        <h2 class="text-center">SKILLS</h2>
        </v-card>


        <v-card >
            <v-carousel v-model="model">

                <!-- Expert -->
                <v-carousel-item
                >
                    <v-sheet
                        dark
                        color="grey darken-4"
                        height="100%"
                        tile
                        
                    >
                        
                        <!-- <h1 >Expert</h1> -->
                        <v-container>
                            <h2>
                                Expert 
                                <v-icon
                                    color="orange darken-4"
                                    right
                                >
                                mdi-account-cowboy-hat
                                </v-icon>
                            </h2>

                            <v-virtual-scroll
                                :items="info.filter(this.f_expert)"
                                :item-height="50"
                                height="300"
                                >
                                <template v-slot:default="{ item }">
                                    <v-list-item @click="abrir(item)">
                                        <v-list-item-content>
                                            <v-list-item-title>
                                                {{ item.name }}
                                            </v-list-item-title>
                                        </v-list-item-content>
                                        <v-list-item-action>
                                            <v-btn
                                                depressed
                                                small
                                            >
                                            
                                            <v-icon
                                                color="orange darken-4"
                                                right
                                            >
                                                mdi-open-in-new
                                            </v-icon>
                                            </v-btn>
                                        </v-list-item-action>
                                    </v-list-item>
                                </template>
                            </v-virtual-scroll>
                            
                        </v-container>
                    </v-sheet>
                </v-carousel-item>

                <!-- Proficient -->
                <v-carousel-item
                >
                <v-sheet
                    dark
                    color="grey darken-3"
                    height="100%"
                    tile
                >
                    
                    <v-container>
                                                        
                        <h2>
                            Proficient 
                            <v-icon
                                color="orange darken-4"
                                right
                            >
                            mdi-account-details
                            </v-icon>
                        </h2>

                        <v-virtual-scroll
                            :items="info.filter(this.f_proficient)"
                            :item-height="50"
                            height="300"
                            >
                            <template v-slot:default="{ item }">
                                <v-list-item @click="abrir(item)">
        
                                <v-list-item-content>
                                    <v-list-item-title>{{ item.name }}</v-list-item-title>
                                </v-list-item-content>

                                <v-list-item-action>
                                    <v-btn
                                    depressed
                                    small
                                    >
                                    <v-icon
                                        color="orange darken-4"
                                        right
                                    >
                                        mdi-open-in-new
                                    </v-icon>
                                    </v-btn>
                                </v-list-item-action>
                                </v-list-item>
                            </template>
                        </v-virtual-scroll>
                    </v-container>
                </v-sheet>
                </v-carousel-item>

                <!-- Novace -->
                <v-carousel-item
                >
                    <v-sheet
                        color="grey darken-2"
                        height="100%"
                        tile
                        dark
                    >
                        
                        <v-container>

                            <h2>
                                Novice
                                <v-icon
                                    color="orange darken-4"
                                    right
                                >
                                mdi-account-edit
                                </v-icon>
                            </h2>
                            <v-row>
                                <v-virtual-scroll
                                    :items="info.filter(this.f_novice)"
                                    :item-height="50"
                                    height="300"
                                >
                                    <template v-slot:default="{ item }">
                                            <v-list-item @click="abrir(item)">
            
                                        <v-list-item-content>
                                            <v-list-item-title>{{ item.name }}</v-list-item-title>
                                        </v-list-item-content>

                                        <v-list-item-action>
                                            <v-btn
                                            depressed
                                            small
                                            >
                                            <v-icon
                                                color="orange darken-4"
                                                right
                                            >
                                                mdi-open-in-new
                                            </v-icon>
                                            </v-btn>
                                        </v-list-item-action>
                                        </v-list-item>
                                    </template>
                                </v-virtual-scroll>
                            </v-row>
                        </v-container>
                    </v-sheet>
                </v-carousel-item>

                <!-- Interested -->
                <v-carousel-item
                >
                    <v-sheet
                        
                        color="grey darken-1"
                        height="100%"
                        tile
                        dark
                    >
                        <v-container>

                            <h2>
                                Interested
                                <v-icon
                                    color="orange darken-4"
                                    right
                                >
                                mdi-account-eye
                                </v-icon>
                            </h2>
                            
                        <v-row>
                        <v-virtual-scroll
                            :items="info.filter(this.f_interested)"
                            :item-height="50"
                            height="300"
                        >
                        <template v-slot:default="{ item }">
                            <v-list-item @click="abrir(item)">
                            <v-list-item-content>
                                <v-list-item-title>{{ item.name }}</v-list-item-title>
                            </v-list-item-content>

                            <v-list-item-action>
                                <v-btn
                                depressed
                                small
                                >
                                <v-icon
                                    color="orange darken-4"
                                    right
                                >
                                    mdi-open-in-new
                                </v-icon>
                                </v-btn>
                            </v-list-item-action>
                            </v-list-item>
                        </template>
                        </v-virtual-scroll>

                        </v-row>
                        </v-container>
                    </v-sheet>
                </v-carousel-item>
            </v-carousel>
        </v-card>
        <v-dialog
            v-model="dialog"
            width="500"
            >

            <v-card>
                <v-card-title >
                Skill
                </v-card-title>

                    <v-divider></v-divider>

                <v-card-text>
                    <v-row>
                        <v-col 
                            v-for="(value, name) in object"
                            :key="name"

                            cols="12"
                            sm="6"
                            xs="12"
                            md="4"
                        >

                            <v-text-field
                            filled
                            :value= value
                            :label= name
                            readonly
                        ></v-text-field>
                        
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions>
                    <v-btn
                        color="primary"
                        text
                        @click="dialog = false"
                    >
                        Exit
                    </v-btn>
                </v-card-actions>   
                    
            </v-card>
        </v-dialog> 
</div>
</template>

<script>

  export default {
    name: 'Skills',
    props: ['info'],
    data: () => ({

        model: 0,
        colors: [
            'primary',
            'secondary',
            'yellow darken-2',
            'red',
            'orange',
        ],
        username: null,
        loader: null,
        loading: false,
        picture: null,

        nombre: null,
        titulo: null,
        
        pais: null,

        otro: 'f_novice',

        strengths: [],

        headers: [
          {
            text: 'name',
            align: 'start',
            sortable: false,
            value: 'name',
          },
         
        ],

        dialog: false,
        dialog_a : false,
        object: {
            
            "code": '',
            "created": "",
            "id": '',
            "​media": '',
            "​name": "",
            "proficiency": "",
            "recommendations": 0,
            "supra": false,
            "weight": 0,

        },


    }),

    methods:{
        abrir(n){
            this.object = n
            this.dialog=true
          
        },

        f_evalue(n, obj){

            switch (n) {
                case 'expert':
                    return obj.proficiency == "expert";
                    
               
                default:
                    console.log(`Sorry, we are out of`);
            }

        },
        f_expert(obj) {
           
            return obj.proficiency == "expert";
        },
        f_proficient(obj) {
           
            return obj.proficiency == "proficient";
        },
        f_novice(obj) {
           
            return obj.proficiency == "novice";
        },
        f_interested(obj) {
           
            return obj.proficiency == "no-experience-interested";
        },

        get_profile: function (id) {
            this.$router.push({ name: 'Profile', params: {username: id }})
        },
    },

    watch: {
      loader () {
        const l = this.loader
        this[l] = !this[l]

        setTimeout(() => (this[l] = false), 3000)

        this.loader = null

        this.get_profile(this.username)
      },
    },
  }
</script>
