<template>
  <v-app>
    <v-app-bar
      app
      color="blue darken-4"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://i.ibb.co/w4jdP5S/2823502.png"
          transition="scale-transition"
          width="40"
        />
        <h2>Torre User</h2>
      </div>
      <v-spacer></v-spacer>

      <template v-if="$store.state.user!=null">
        <v-btn
          class="ma-2"
          @click="get_back()"
          dark
        >
          <v-icon left >
            mdi-arrow-left
          </v-icon>Back
        </v-btn>

      </template>

      <template v-else-if="$route.path!='/'">
        <v-btn
          class="ma-2"
          @click="get_back()"
          dark
        >
          <v-icon
            left
          >
            mdi-arrow-left
          </v-icon>Back
        </v-btn>
      </template>

    </v-app-bar>

    <div class="mx-auto my-auto">
      <v-main >
        <router-view/>
      </v-main>
    </div>

    <v-footer
      dark
      padless
    >
      <v-card
        color="blue darken-4"
        class="flex"
        flat
        tile
      >
        <v-card-text class="py-2 white--text text-center">
          {{ new Date().getFullYear() }} — <strong>John J.</strong>
        </v-card-text>
      </v-card>
    </v-footer>

  </v-app>
</template>

<script>



export default {
  name: 'App',

  data: () => ({
    //
  }),

  methods:{
     get_back: function () {
        this.$store.dispatch("getUser",null )
        this.$router.push({ name: 'Home'})
      },

      get_if: function () {
        return false
      },
  }
};
</script>
